@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');
*{
  font-family: "Manrope", sans-serif;
  font-optical-sizing: auto;
  font-weight: 10px;
  font-style: normal;
}
:root{
  --blue-color: #4a98f7;
}
body{
  display: flex;
  background: var(--blue-color);
  justify-content: center;
  align-items: center;
}
.calender{
  background: white;
  height: auto;
  width: 450px;
  border-radius: 10px;
  margin-top: 10vh;
}
.top{
  display: flex;
  padding: 25px 30px 10px;
}
.monthyear{
  margin-right: 40%;
}
.icons{
  margin-left: 10px;
  border-radius: 50%;
  width: 38px;
  height: 38px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  color: #878787;

}
.icons:hover{
  background-color: #f2f2f2;
}
.calender .days{
  display: flex;
  flex-wrap: wrap;
  text-align: center;
}
p{
  cursor: pointer;
  z-index: 1;
}
.calender .days p{
  position: relative;
  width: calc(100% / 7);
}
.calender .days p:before{
  position: absolute;
  content: "";
  height: 40px;
  width: 40px;
  border-radius: 50%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: -1;
}
.days p:hover::before{
  background: #f2f2f2;
}
p.inactive{
  color: #aaa;
}
p.active{
  color: white;
}
.days p.active:before{
  background-color: var(--blue-color);
}